.sidebar {
  height: 100vh;
  width: 250px;
  background-color: #0f172a;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  transition: width 0.3s ease;
}

/* Collapsed */
.sidebar.collapsed {
  width: 80px;
}

/* Top */
.sidebar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

/* Toggle */
.collapse-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

/* Navigation */
.sidebar-nav {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.nav-item {
  color: #cbd5f5;
  text-decoration: none;
  padding: 10px 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-item:hover,
.nav-item.active {
  background-color: #1e293b;
  color: white;
}

/* Bottom */
.sidebar-bottom {
  margin-top: auto;
}

.logout-btn {
  width: 100%;
  background-color: #ef4444;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
.nav-item.active {
  background-color: #1e293b;
  color: white;
}


/* Responsive */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
